body {
  margin:0px;
  background-color:rgba(247, 247, 247, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  display:flex;
}
#u218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:30px;
  width:188px;
  height:24px;
  display:flex;
  font-size:17px;
}
#u219 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u219_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:12px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:6px;
  width:364px;
  height:12px;
  display:flex;
}
#u220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:33px;
  width:61px;
  height:22px;
  display:flex;
}
#u221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:34px;
  width:20px;
  height:20px;
  display:flex;
}
#u223 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:115px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:114px;
  width:164px;
  height:115px;
  display:flex;
}
#u224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:336px;
  width:310px;
  height:66px;
  display:flex;
  font-size:16px;
}
#u225 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:#555555;
  text-align:center;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:244px;
  width:197px;
  height:80px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:#555555;
  text-align:center;
}
#u226 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u226_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#4A5BEA;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:448px;
  width:33px;
  height:22px;
  display:flex;
  font-size:16px;
  color:#4A5BEA;
}
#u227 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u227_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
