.ax_default {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.shape {
}
.image {
  color:#000000;
}
.image1 {
}
.primary_button {
  color:#FFFFFF;
}
.heading_1 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
.line {
}
.radio_button {
  text-align:left;
}
.table_cell {
}
.menu_item {
}
.sticky_1 {
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
._图片_ {
}
.flow_shape {
}
.label {
  font-size:14px;
  text-align:left;
}
._三级标题 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.text_field {
  color:#000000;
  text-align:left;
}
.box_1 {
}
.box_2 {
}
.ellipse {
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.box_21 {
}
textarea, select, input, button { outline: none; }
